<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
  <% include ../views/nav %>
  <form action="/menu/add" method="post" class="form-horizontal">
  <!-- Form Name-->
  <legend>Add Menu</legend>
  <!-- Text input-->
  <div class="control-group">
    <label for="title" class="control-label">Title</label>  
    <div class="controls">
      <input id="title" name="title" type="text" placeholder="title" class="input-xlarge"/>
    </div>
  </div>
  <!-- Textarea-->
  <div class="control-group">
    <label for="detail" class="control-label">Description</label>  
    <div class="controls">
      <textarea id="detail" name="detail">add some description..</textarea>
    </div>
  </div>
  <!-- Select Basic-->
  <div class="control-group">
    <label for="type" class="control-label">Type</label>  
    <div class="controls">
      <select id="type" name="type" class="input-xlarge">
        <option>Chinese</option>      
        <option>Japan</option>      
        <option>American</option>      
        <option>India</option>      
        <option>Mexcian</option>
      </select>
    </div>
  </div>
  <!-- Text input-->
  <div class="control-group">
    <label for="location" class="control-label">Location</label>  
    <div class="controls">
      <input id="location" name="location" type="text" placeholder="location" class="input-xlarge"/>
    </div>
  </div>
  <!-- Select Basic-->
  <div class="control-group">
    <label for="quantity" class="control-label">Quantity</label>  
    <div class="controls">
      <select id="quantity" name="quantity" class="input-xlarge">
        <option>1</option>      
        <option>2</option>      
        <option>3</option>      
        <option>4</option>      
        <option>5</option>
      </select>
    </div>
  </div>
  <!-- Text input-->
  <div class="control-group">
    <label for="price" class="control-label">Price</label>  
    <div class="controls">
      <input id="price" name="price" type="text" placeholder="price (number only)" class="input-xlarge"/>
    </div>
  </div>
  <!-- Button (Double)-->
  <div class="control-group">
    <label for="" class="control-label"></label>  
    <div class="controls">
      <button type="reset" onclick="window.location.href='/menus'" class="btn btn-default">Cancel</button>    
      <button type="submit" name="action" value="Add" class="btn btn-success">Add</button>
    </div>
  </div>
</form>
</body>


