<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="eleven wide column">
			<div class="section">
				<h2>FoodGallery</h2>
				<ul style="padding-left:200px;">
					<li><img id="uploadPreview" src="/image/dishes-eg/american.jpg" alt="photo" height="300" width="300"></li>
					<li><img id="uploadPreview" src="/image/dishes-eg/chinese.jpg" alt="photo" height="300" width="300"></li>
					<li><img id="uploadPreview" src="/image/dishes-eg/japanese.jpg" alt="photo" height="300" width="300"></li>
				</ul>
			</div>
		</div>
</body>