<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
    <% include ../views/nav %>
    <div class="ui stackable grid main">
    	<div class="five wide column" id="vertical-menu">
		    <div class="ui vertical menu profile">
			    <a class="item" href="#accpw" id="accountpassword">
			      <h3 class="ui header">Account & Password</h3>
			    </a>
			    <a class="item" href="#host" id="howtohost">
			      <h3 class="ui header">How to host an Event</h3>
			    </a>
			    <a class="item" href="#book" id="howtobook">
			      <h3 class="ui header">How to book an event</h3>
			    </a>
			    <a class="item" href="#cancel" id="canicancel">
			      <h3 class="ui header">Can I cancel my reservation</h3>
			    </a>
			    <a class="item" href="#find" id="wheretofind">
			      <h3 class="ui header">Where can I find my reservation</h3>
			    </a>
			    <a class="item" href="#beforeevent" id="whatshoulddo">
			      <h3 class="ui header">What should I do before the event</h3>
			    </a>
			    <a class="item" href="#pay" id="payments">
			      <h3 class="ui header">Payments</h3>
			    </a>
			    <a class="item" href="#rew" id="reviews">
			      <h3 class="ui header">Reviews</h3>
			    </a>
			</div>
		</div>
		<!-- five wide colum -->
		<div class="ten wide column" style="margin-top:80px; background:#DBDBDD;">
			<div style="margin-bottom:30px;"><h1>Help</h1></div>
			<div id="accpw">
				<h2>Account & Password</h2>
				<h3>Do I have to have an  account to book or host an event?</h3>
				<p>You do not necessarily need an account to browse our site and discover our amazing events. If you want to book an event but do not want to sign up just yet, feel free to tag along with your friends who already signed up with us. But to host an event, you must open an account. The reason that we encourage everybody to sign up is because our hosts will want to learn about you and your interests. They'll also want to know your food preferences to help them plan a menu for a specific event.</p>

				<h3>How do I sign up?</h3>
				<p>Just select the "sign-up" button at the top of the page and connect using your Facebook account with your .edu email address. We also recommend you to set a secure password that nobody knows.</p>

				<h3>Do I have to fill out all my profile information?</h3>
				<p>We strongly encourage you to fill out all of your profile information. This way, your hosts and other guests you meet at events can get to know you better even before an event starts.</p>

				<h3>I forgot my password. What do I do?</h3>
				<p>Select "sign-in" at the top of the homepage and then the "forgot password" link. Type the email address you use to sign in to your account, and we'll send you a new password right away.
				</p>

				<h3>Who can see my profile information?</h3>
				<p>If you send in a request to attend an event, the host will be able to see your complete profile including your name, self-introduction and verifications that you have completed and past reviews if you have any. 
				Others who have the link to your profile will only be able to see your name and profile picture.
				</p><br/><br/>

			</div>
			<div id="host">
				<h2>How to host an Event</h2>
				<h3>How to be a successful host!</h3>
				<p>1. We cannot emphasize HOW IMPORTANT it is to have attractive and interesting food pictures. Yes! FOOD PICTURES matter to your guests.To attract potential guests who you want to meet, create a appealling and detailed menu listing that shows what you have planned for the event. Decorate your dining area, highlight the theme and upload photos to your profile to show what you have to offer.<br/><br/>

				2. Set a competitive price to attract guests. You can decide the price you want to charge to each guest. We suggest that you set the price in a range(For example: $10- $20per person, $25-%$25 per person). In that case, your guest can pay you according to their dining experience.<br/><br/>

				3. Respond quickly and pick your guest accordingly. As a host, you’ll receive a notification reminding you that a guest has sent in a request or a question. Please respond quickly by logging onto our website. You will be able to see their complete profile and their past reviews on the Profile Page.
				</p>

				<h3>How to enhance my photos quality?</h3>
				
				<p>We provide photography service to our host. However, if you decided to take photos yourself, here are some tips that you might find it useful:

				1. Environment pictures: take photos in landscape mode. Light up the space; pull back curtains to let natural lighting in if you take pictures during the daytime. Having three pictures will provide a clear representation of the dining environment.<br/><br/>

				2. Food Pictures: Arrange ingredients in a serving bowl that provides the most appealing presentation. Try these two methods when taking pictures. Top Down method: the food should be in the center of the frame with the pictures taken from a position, directly looking down on the food. Close up method: Try focusing on only a small portion of the dish if you have good lighting and perfect focus.
				</p>

				<h3>Do I have to have an  account to book or host an event?</h3>
				<p>You do not necessarily need an account to browse our site and discover our amazing events. If you want to book an event but do not want to sign up just yet, feel free to tag along with your friends who already signed up with us. But to host an event, you must open an account. The reason that we encourage everybody to sign up is because our hosts will want to learn about you and your interests. They'll also want to know your food preferences to help them plan a menu for a specific event.</p><br/><br/>			
			</div>

			<div id="book">
				<h2>How to book an Event</h2>
				<p>Click the "Book Now" button on the event's page to make your booking request. You will be asked how many people will attend and if you'd like any extras offered by the host. To ask questions, you can send the host a message. You can also tell the host a bit about yourself.
				</p><br/><br/>
			</div>

			<div id="cancel">
				<h2>Can I cancel my reservation?</h2>
				<p>The answer is YES! we understand that our customers have a busy schedule and sometimes plans change. you can cancel your reservation whenever you want. However, we encourage our guests respect hosts’ time and cancel your reservation 24 hours prior to the event.
				</p><br/><br/>		
			</div>

			<div id="find">
				<h2>Where can I find my reservation?</h2>
				<p>You can find your past and future reservation on the Profile page.</p><br/><br/>
			</div>

			<div id="beforeevent">
				<h2>What should I do before the event?</h2>
				<p>We recommend contacting your host about any specific food preferences or allergies, asking them about themselves, their story and the area where they live. It's also a good idea to check out who else will be attending, view their profile and find out more about them. This will help build your anticipation and excitement for the event and may even give you some ideas for conversation starters.</p><br/><br/>
			</div>

			<div id="pay">
				<h2>Payments</h2>
				<h3>How and when do I make a payment for my reservation?</h3>
				<p>Your will only be charged after the event. We do not provide any payment methods on our website currently. It’s guests’ responsibility to follow the hosts’ rules and pay them timely and accurately. If payment conflicts occur,we will try our best to mediate the issues. However, you have to understand that all payment  transactions are at your own risk.</p>

				<h3>Tips</h3>
				<p>Hosts do not require or expect your tips. However, most hosts set their event price to a range. You can pay a host according your experience. The best way to show your appreciation of a host is to write a good review.</p><br/><br/>
				
			</div>

			<div id="rew">
				<h2>Reviews</h2>
				<p>There are three review systems on our website:<br/>
				Guest <=>. Guest ( After each event, guests can review each other)<br/>
				Guest =>. Host( Guests can also review their host)<br/>
				Host => Guest(Host can review their guests)</p><br/><br/>
			</div>
		</div>
		<div class="one wide column" style="margin-top:80px;">
	</div>
	<!-- ui grid -->
</body>
</html>