<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	
	<div class="row" id="front-page">
		<div id="bg_container">
			<video controls id="bg" autoplay loop muted>
	            <source src="video/homepage.mp4" type="video/mp4"/>
	            <source src="video/homepage.webm" type="video/webm"/>
	            <source src="video/homepage.ogg" type="video/ogg"/>
	            <!-- fallback -->
	            Your browser does not support the <code>video</code> element.
        	</video>
		</div>
<!-- 		<div id="bg_container">
		    <iframe id="bg" src="//www.youtube.com/embed/ZHJiMrUaxm0?autoplay=1&amp;controls=0&amp;loop=1&amp;showinfo=0&amp;modestbranding=1&amp;disablekb=1&amp;enablejsapi=1&amp;playlist=PLAYLIST_ID_HERE" frameborder="0"></iframe>
		</div> -->
	    <div class="col-sm-9 col-centered" id="search-form"> 
		    <div class="search-form">  	
	    		<form action="/menus" method="post" class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			        	<input type="text" class="form-control" id="university-search" placeholder="University">
			        </div>

			        <div class="datePicker">  
						<div class="form-horizontal">
							<div class="control-group">
						        <div class="controls">
						            <div class="input-group">
						                <input id="date-picker" type="text" class="date-picker form-control" placeholder="Date"/>
						                <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
						                </label>
						            </div>
						        </div>
							</div>
						</div>
				    </div>

				    <!-- This is a dropdown menu for selecting how many guest will come -->
		    
				    <div class="guestNumber">
				    	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Guest
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 Guest</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8+ Guest</a></li>
						  </ul>
						</div>
				    </div>

				    <!-- This is a dropdown menu for selecting food type -->
		   
				    <div class="foodType">
				    	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Food Type
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">American</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chinese</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Indian</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Korean</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Thai</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Italian</a></li>
						  </ul>
						</div>
				    </div>

		        	<button type="submit" class="btn btn-default" id="search_button">Search</button>
			    	
			    </form>
		    </div>
		</div>
	</div>

		<div id="second-page">
			This is the second page
		</div>

		<div id="third-page">
			This is the third page
		</div>

		<div id="footer">
			This is a footer<br>
			©2015 CodeG23 all rights reserved 
		</div>

	

	<script>
		$("#date-picker").datepicker();
	</script>
</body>