<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>

	<div class="wrapper">

		<div class="ui stackable grid">

			<div class="row" style="width:100%; margin-left:-1rem; margin-right:-1rem;">
				<div class="column" style="width:100%; height:80%; z-index:2;">
					<div class="ui stackable grid">
						<div class="row">
							<div class="wide column" style="z-index:1;">
								<video autoplay="" loop="" muted class="fillWidth" id="video-bg" style="width:100%; height:auto;margin-top:1rem;">
									<source src="video/homepage.mp4" type="video/mp4"/>
									<source src="video/homepage.webm" type="video/webm"/>
									<source src="video/homepage.ogg" type="video/ogg"/>
								</video>
							</div>
						</div>
						<div class="row" style="z-index:5; position:absolute; top:40%; margin:auto; left:0; right:0;">
							<div class="column" style="position:relative;">
								<div class="ui stackable grid">
									<div class="row">
										<div class="column">
											<div class="welcome" style="text-align: center;">
									  			<h1>Welcome To My Dining Room</h1>
									  			<h3>House Special And New Friends</h3>
									  		</div>
									  	</div>
									</div>
							  	
									<div class="row">
										<div class="column">
											<div class="ui grid">
												<div class="three wide column"></div>
												<div class="ten wide column">
									    	<form class="ui form search-form" action="/menus" enctype="multipart/form-data" method="post" style="z-index:20;">
									    		<div class="fields">
										    		<div class="five wide field index majorsearch" style="margin:0px;">
											          	<div class="ui icon input" style="width:100%; display:inline-block;">
											          		<input type="text" name="university" placeholder="Which university are you in?">
														  	<i class="search icon"></i>
														</div>
													</div>
													<div class="three wide field index minorsearch" style="margin:0px;">
											          	<div class="datePicker">
															<div class="form-horizontal">
																<div class="control-group">
															        <div class="controls">
															            <div class="ui icon input" style="vertical-align:baseline; min-width:100%">
															                <input id="date-picker" type="text" class="date-picker form-control" placeholder="Date" name="date"/>
															                <i class="calendar outline icon"></i>
															                <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
															                </label>
															            </div>
															        </div>
																</div>
															</div>
												    	</div>
												    </div>
											    	<div class="three wide field index minorsearch" style="margin:0px;">
														<div class="ui selection dropdown" style="min-width:100%;">
															<input type="hidden" name="guest">
															<div class="default text" style="margin-right:0px;">Guest</div>
															<i class="dropdown icon"></i>
															<div class="menu">
																<div class="item" data-value="1">1 Guest</div>
																<div class="item" data-value="2">2 Guests</div>
																<div class="item" data-value="3">3 Guests</div>
																<div class="item" data-value="4">4 Guests</div>
																<div class="item" data-value="5">5 Guests</div>
																<div class="item" data-value="6">6 Guests</div>
																<div class="item" data-value="7">6+ Guests</div>
															</div>
														</div>
													</div>

													<div class="three wide field index minorsearch" style="margin:0px;">
														<div class="ui fluid search selection dropdown">
															<input type="hidden" name="category">
															<i class="dropdown icon"></i>
															<div class="default text">Category</div>
															<div class="menu">
																<div class="item" data-value="American"><i class="us flag"></i>American</div>
																<div class="item" data-value="Chinese"><i class="cn flag"></i>Chinese</div>
																<div class="item" data-value="Indian"><i class="id flag"></i>Indian</div>
																<div class="item" data-value="Thai"><i class="th flag"></i>Thai</div>
																<div class="item" data-value="Korean"><i class="kr flag"></i>Korean</div>
																<div class="item" data-value="Japanese"><i class="jp flag"></i>Japanese</div>
																<div class="item" data-value="Mexican"><i class="mx flag"></i>Mexican</div>
															</div>
														</div>
													</div>
											  		<div class="two wide field index majorsearch" style="margin:0px;">
											  			<button class="ui red button" type="submit" id="search_button" style="min-width:100%;">Search</button>
											  		</div><!-- button column -->
										  		</div>
											</form>
										</div>
									<div class="three wide column"></div>
									</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- column -->
			</div><!-- row -->

		
			<div class="row" id="second-page-title" style="background-color:#fff;z-index:3;">
			  	<div class="column welcome" style="text-align: center;">
			  			<h1 style="color:#565a5c">Explore Your Neighborhood</h1>
			  	</div>
			</div>
			  	
			<div class="three column row" style="background-color:#fff;z-index:3;" id="second-page-content">
				<div class="column img">
					<h1 class="univ-name">Cornell</h1>
					<div class="ui fluid image">
						<img src="image/university/cornell.jpg" alt="cornell" id="front-img">
					</div>
				</div>
				<div class="column img">
					<h1 class="univ-name">Penn State</h1>
					<div class="ui fluid image">
						<img src="image/university/pennstate.jpg" alt="pennstate" id="front-img">	
					</div>
				</div>
				<div class="column img">
					<h1 class="univ-name">NYU</h1>
					<div class="ui fluid image">
						<img src="image/university/nyu.jpg" alt="nyu" id="front-img">		
					</div>
				</div>
			</div>
		

			<div class="row" id="third-page-title" style="background-color:#fff;z-index:3;">
		  		<div class="column welcome" style="text-align: center;">
		  			<h1 style="color:#565a5c">Taste House Specials</h1>
		  		</div>
			</div>



			<div class="row" style="background-color:#fff;z-index:3;" id="third-page-content">
				<div class="ui stackable grid">
					<div class="three column row">
						<div class="column img">
							<h1 class="univ-name">American</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/american.jpg" alt="american" id="front-img">
							</div>
						</div>
						<div class="column img">
							<h1 class="univ-name">Chinese</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/chinese.jpg" alt="chinese" id="front-img">	
							</div>
						</div>
						<div class="column img">
							<h1 class="univ-name">Mexican</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/mexican.jpg" alt="mexican" id="front-img">		
							</div>
						</div>
					</div>
					<div class="three column row">
						<div class="column img">
							<h1 class="univ-name">Korean</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/korean.jpg" alt="korean" id="front-img">		
							</div>
						</div>
						<div class="column img">
							<h1 class="univ-name">Italian</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/italian.jpg" alt="italian" id="front-img">		
							</div>
						</div>
						<div class="column img">
							<h1 class="univ-name">Japanese</h1>
							<div class="ui fluid image">
								<img src="image/dishes-eg/japanese.jpg" alt="japanese" id="front-img">		
							</div>
						</div>
					</div>
				</div>	  
			</div>
		</div><!-- stackable grid -->
	</div><!-- wrapper -->

	
		<div class="ui stackable grid" style="background:black;">
			<div class="footer">
				
				<div class="three column row">
					<div class="column"></div>
					<div class="column" style="text-align:center; font-size:25px;">Join Us On</div>
					<div class="column"></div>
				</div>

				<div class="ui grid">
					<div class="row">
					      <div class="two wide column">
					      	<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="/help">Help</a></li>
								<li><a href="privacy">Term & Privacy</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
					      </div>
					      <div class="eleven wide column" style="text-align:center;">
					      	<br/><br/><br/>
					      	<ul>
								<i class="big facebook icon" style="padding:20px;"></i>
								<i class="big instagram icon" style="padding:20px;"></i>
								<i class="big twitter icon" style="padding:20px;"></i>
								<i class="big linkedin icon" style="padding:20px;"></i>
								<i class="big wechat icon" style="padding:20px;"></i>
								<i class="big weibo icon" style="padding:20px;"></i>
							</ul>
					      </div>
					      <div class="three wide column"></div>
				    </div>
				</div>


			</div>
		</div>
	

	

	

	

	<script>
	$(document).ready(function() {
		$("#date-picker").datepicker();
		$('.ui.dropdown').dropdown();
	});
		
	</script>
</body>