<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	
	<div class="row" id="front-page">
		<div id="bg_container">
			<video controls id="bg" autoplay loop muted>
	            <source src="video/homepage.mp4" type="video/mp4"/>
	            <source src="video/homepage.webm" type="video/webm"/>
	            <source src="video/homepage.ogg" type="video/ogg"/>
	            <!-- fallback -->
	            Your browser does not support the <code>video</code> element.
        	</video>
		</div>

		    <div class="search-form">  	
			    <form class="ui form" action="/menus" method="post">
				  <div class="two fields">

				    <div class="field">
				      <div class="two fields">

				        <div class="field">
				          	<div class="ui icon input">
				          		<input type="text" name="university" placeholder="Which University are you in?">
							  	<i class="search icon"></i>
							</div>
				        </div>



				        <div class="field">
				          	<div class="datePicker">  
								<div class="form-horizontal">
									<div class="control-group">
								        <div class="controls">
								            <div class="input-group">
								                <input id="date-picker" type="text" class="date-picker form-control" placeholder="Date" name="date"/>
								                <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
								                </label>
								            </div>
								        </div>
									</div>
								</div>
					    	</div>
				        </div>

				      </div>
				    </div>

				    <div class="field">
				    	<div class="three fields">
				    		<div class="field">
						      	<div class="ui selection dropdown">
						        	<input type="hidden" name="gender">
						        	<div class="default text">Guest</div>
						        	<i class="dropdown icon"></i>
							        <div class="menu">
							          <div class="item" data-value="1guest">1 Guest</div>
							          <div class="item" data-value="2guests">2 Guests</div>
							          <div class="item" data-value="3guests">3 Guests</div>
							          <div class="item" data-value="4guests">4 Guests</div>
							          <div class="item" data-value="5guests">5 Guests</div>
							          <div class="item" data-value="6guests">6 Guests</div>
							          <div class="item" data-value="6plusguests">6+ Guests</div>
							        </div>
						      	</div>
				  			</div>
					  		<div class="field">
						      	<select class="ui search dropdown">
								  <option value="">American</option>
								  <option value="chinese">Chinese</option>
								  <option value="indian">Indian</option>
								  <option value="thai">Thai</option>
								  <option value="korean">Korean</option>
								  <option value="japanese">Japanese</option>
								  <option value="mexican">Mexican</option>
								</select>
					  		</div>

					  		<div class="field">
					  			<div class="ui inverted red button" type="submit" id="search_button">Search</div>
					  		</div>
				  		</div>
				    </div>
				  </div>
				</form>




		    </div>

	</div>

		<div id="second-page">
			<div class="row carousel-item" style="padding-top:150px; display: table-cell; vertical-align: middle; ">
				<div class="col-lg-4 rm-padding-sm col-md-4">
					<img src="image/cornell.jpg" alt="cornell">
					<div class="va-middle text-center text-contrast">
			          	<div class="h2 strong">
			            Cornell
			          	</div>
			      	</div>
				</div>
				<div class="col-lg-4 rm-padding-sm col-md-4">	
					<img src="image/pennstate.jpg" alt="pennstate">	
					<div class="va-middle text-center text-contrast">
			          	<div class="h2 strong">
			            Penn State
			          	</div>
			      	</div>		
				</div>
				<div class="col-lg-4 rm-padding-sm col-md-4">	
					<img src="image/nyu.jpg" alt="nyu">	
					<div class="va-middle text-center text-contrast">
			          	<div class="h2 strong">
			            NYU
			          	</div>
			      	</div>		
				</div>
			</div>
		</div>

		<div id="third-page">
			This is the third page
		</div>



		<div id="footer">
			This is a footer<br>
			©2015 CodeG23 all rights reserved 
		</div>

	

	<script>
	$(document).ready(function() {
		$("#date-picker").datepicker();
		$('.ui.dropdown').dropdown();
	});
		
	</script>
</body>