<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>

	<div class="ui segment event">
		<img src="/image/sample-env-cover-1.jpg" alt="Enviroment Cover" style="position:abosulte; width:100%; max-height:600px;"> 
	</div>
	<div class="ui segment event" id="context">		
		<div class="ui stackable grid">
		<div class="row">
			<div class="ten wide column" >
				<div class="ui stackable grid" >
					<div class="row intro" id="overview">
						<div class="column">
							<div class="ui segment">
								<div class="ui stackable grid">
									<div class="two column row">
										<div class="six wide column">
											<img class="ui small circular image" src="/image/sample-portrait.jpg">
										</div>
										<div class="eight wide column">
											<h2 class="ui header"><%= menu.title %></h2>
											<h4 class="ui header">Ithaca, NY, United States</h4>
											<p>This place should contains some basic information</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row intro" id="detail">
						<div class="column">
							<div class="ui divided list" >
								<div class="item">
									<div class="content">
										<div class="description">
											<div class="ui stackable grid">
												<div class="three column row">
													<div class="six wide column">
														<h4 class="ui header">Hosting Environment</h4>
													</div>
													<div class="five wide column">
														<div class="list-items"><i class="users icon"></i> Seats: <b>6</b></div>
														<div class="list-items"><i class="food icon"></i> Tableware: <b>All</b></div>
														<div class="list-items"><i class="desktop icon"></i> TV: <b>Yes</b></div>
													</div>
													<div class="five wide column">
														<div class="list-items"><i class="music icon"></i> Music: <b>Yes</b></div>
														<div class="list-items"><i class="at icon"></i> Internet: <b>No</b></div>
														<div class="list-items"><i class="car icon"></i> Parking: <b>Yes</b></div>
													</div>
												</div>
											</div><!-- grid -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
									<div class="description">
										<div class="ui stackable grid">
											<div class="three column row">
												<div class="six wide column">
													<h4 class="ui header">Payment</h4>
												</div>
												<div class="five wide column">
													<div class="list-items"><i class="payment icon"></i> Prices: <b>16$</b></div>
												</div>
												<div class="five wide column">
													<div class="list-items"><i class="ban icon"></i> Cancellation: <b>No</b></div>
												</div>
											</div>
										</div><!-- grid -->
									</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="description">
											<div class="ui stackable grid">
												<div class="two column row">
													<div class="six wide column">
														<h4 class="ui header">Event Rules</h4>
													</div>
													<div class="ten wide column">
														<div class="description-area">
															<p>This place should be even rules.</p>
														</div>
													</div>
												</div>
											</div><!-- grid -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="description">
											<div class="ui stackable grid">
												<div class="two column row">
													<div class="six wide column">
														<h4 class="ui header">Availability</h4>
													</div>
													<div class="ten wide column">
														<div class="description-area">
															<p>This place should be availability.</p>
														</div>
													</div>
												</div>
											</div><!-- grid -->
										</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="description">
											<div class="ui stackable grid">
												<div class="two column row">
													<div class="six wide column">
														<h4 class="ui header">Menu</h4>
													</div>
													<div class="ten wide column">
														<div class="description-area">
															<p>This place should be dishes gallery.</p>
														</div>
													</div>
												</div>
											</div><!-- grid -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row intro" id="gallery">
						<div class="center aligned column">
							<div class="ui stackable grid">
								<div class="center aligned two column row" style="padding:5px;">
									<div class="six wide column" style="max-height:300px; max-width:300px; padding:5px;">
										<img class="ui rounded image" src="/image/dishes-eg/sample-dishes-1.jpg" style="width:100%; height:100%;">
									</div>
									<div class="six wide column" style="max-height:300px; max-width:300px; padding:5px;">
										<img class="ui rounded image" src="/image/dishes-eg/sample-dishes-2.jpg" style="width:100%; height:100%;">
									</div>
								</div>
								<div class="center aligned three column row" style="padding:5px;">
									<div class="four wide column" style="max-height:200px; max-width:200px; padding:5px;">
										<img class="ui rounded image" src="/image/dishes-eg/sample-dishes-3.jpg" style="width:100%; height:100%;">
									</div>
									<div class="four wide column" style="max-height:200px; max-width:200px; padding:5px;">
										<img class="ui rounded image" src="/image/dishes-eg/sample-dishes-4.jpg" style="width:100%; height:100%;">
									</div>
									<div class="four wide column" style="max-height:200px; max-width:200px; padding:5px;">
										<img class="ui rounded image" src="/image/dishes-eg/sample-dishes-5.jpg" style="width:100%; height:100%;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row intro">
						<div class="column">
						<div class="ui comments">
							<h3 class="ui dividing header">Reviews</h3>
							<div class="comment">
								<a class="avatar" >
									<img class="ui circular image" src="/image/sample-portrait.jpg" style="height:auto;">
								</a>
								<div class="content">
									<a class="author">Kelly</a>
									<div class="metadata">
										<span class="date">Today at 5:42PM</span>
									</div>
									<div class="text">
										What a great event!
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div><!-- grid -->
			</div>

			<div class="six wide column" style="padding-right:10%;">
				<div class="ui sticky">
					<div style="min-height:80px;">
					</div>
					<form method="post" >
						<% if(user._id != menu.user_id) {%>
						<div class="field quick control">
					    	<button class="ui button quick control" type="submit" name="action" id="contact_button">
					    		Contact Host
					    	</button>
						</div>
							<% if(typeof request != 'undefined') {%>
							<div class="field quick control">
							    <h3 class="ui header">You said: <%= request.text %></h3>
							</div>
							<div class="field quick control">
						    	<input class="ui button
						    	quick control" type="submit" name="action" value="Already Applied" disabled/>
						    </div>
							<% } else { %>
							<div class="field quick control">
								<div class="ui attached segement">
								<div class="ui input quick control">
							    	<input type="text" name="text" placeholder="Say Something to apply."/>
								</div>
								</div>
								<input class="ui bottom attached button quick control" type="submit" name="action" value="Apply"/>

							</div>
							<div class="field quick control">
							</div>
							<% } %>
				  		<% } else {%>
				  		<div class="field quick control">
				  			<button class="ui button quick control" onclick="location.href='/menu/edit/<%= menu._id %>'">Edit Menu</button>
				  		</div>
				  		<% } %>	
				  	</form>
				</div>
			</div>
		</div>
	</div><!-- ui grid -->
</div>
	
  	<script>
		$('.ui.sticky')
		.sticky({
			context: '#context'
		});
  	</script>
</body>