<div class="nav-bar">
	<a href="/menus">Menus</a>
	<% if(typeof user != 'undefined') {%>
	<a href="/profile/overview/<%= user._id %>"><%= user.username%></a>
	<a href="/logout">Logout</a>
	<% } else { %>
	<a href="/">Login</a>
	<a href="/register">Register</a>
	<% } %>
</div>
