
<div class="nav-bar">
	<ul class="nav">
		<div class="floatleft">
			<li role="presentation" class="active"><a href="/">CodeG23</a></li>
		</div>

		<% if(typeof user != 'undefined') {%>
		<div class="floatleft">
			<li role="presentation" class="active"><a href="/menus">Menus</a></li>
		</div>
		<div class="floatleft">
			<li role="presentation" class="active"><a href="/notification">Notification(0)</a></li>
		</div>
		<div class="floatright">
			<li role="presentation"><a href="/profile/detail/<%= user._id %>"><%= user.firstname%></a></li>

			<li role="presentation"><a href="/logout">Logout</a></li>
			<li>
				<div class="addMenu">
			    	<a href="/menu/add"><button type="button" onclick="location.href='/menu/add'" class="ui blue button">List Your Menu</button></a>
			    </div>
			</li>
		</div>
		<% } else { %>
		<div class="floatright">
			<li role="presentation"><a href="javascript:void" onclick="return signpopup();">Sign Up</a></li>
		 	<li role="presentation"><a href="javascript:void" onclick="return logpopup();">Log In</a></li>
		 	<li>
				<div class="addMenu">
			    	<a href="/menu/add"><button type="button" onclick="location.href='/menu/add'" class="ui blue button" style="border-radius:.1857rem; padding:8px;">List Your Menu</button></a>
			    </div>
			</li>
		</div>
		<% } %>
		
	</ul>
</div>

	    <div class="ui stackable grid">
	      <div class="ui small modal login">
	        <i class="close icon" style="z-index:101;"></i>
	        
	        <form class="ui form segment" method="post" action="/login" style="padding:20px 50px; margin-top:0px; margin-bottom:0px;">
	            <div class="ui grid">
	              
	               <div class="left floated five wide column"> 
	                  <h2>Log In</h2>
	                </div>
	                <div class="right floated right aligned eight wide column" style="padding-top:22px;"> 
	                  <h5><a href="#" >Forgot Password?</a></h5>
	                </div>
	         
	            </div>
		        <div class="field">
		          <label>Email</label>
		          <div class="ui left icon input">
		            <input type="text" placeholder="Email" name="email">
		            <i class="user icon"></i>
		          </div>
		        </div>
		        <div class="field">
		          <label>Password</label>
		          <div class="ui left icon input">
		            <input type="password" name="password">
		            <i class="lock icon"></i>
		          </div>
		        </div>
		        <div class="ui checkbox" style="padding-bottom:10px;">
		          <input type="checkbox" name="remember">
		          <label>Remember Me</label>
		        </div>
		        <div class="field">
		            <button type="submit" class="ui green submit button">Login</button>
		            <button class="ui facebook button" onclick="location.href='/auth/facebook'">
		              <i class="facebook icon"></i>
		              Login with Facebook
		            </button> 
		        </div>
	      </form>

	      <div class="actions">
	          <div class="ui positive right labeled">
	            Don't have an account?&nbsp&nbsp
	            <a href="#">Sign Up Here!</a>
	          </div>
	      </div>

	      </div>
	  </div>

	


	    <div class="ui stackable grid">
        <div class="ui small modal signup">
          <i class="close icon" style="z-index:101;"></i>
          
          <form class="ui form segment" method="post" action="/register" style="padding:20px 50px; margin-top:0px; margin-bottom:0px;">
              <div class="ui grid">           
                 <div class="left floated five wide column"> 
                    <h2>Sign Up</h2>
                  </div>
              </div>

          <div class="field">
            <label>Email</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Email" name="email">
              <i class="mail outline icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" name="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Confirm Password</label>
            <div class="ui left icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>

          <div class="field">
            <label>First Name</label>
            <div class="ui left icon input">
              <input type="text" name="firstname">
              <i class="user icon"></i>
            </div>
          </div>

          <div class="field">
            <label>Last Name</label>
            <div class="ui left icon input">
              <input type="text" name="lastname">
              <i class="user icon"></i>
            </div>
          </div>

          <div class="field" style="padding-top:20px;">
            
              <button type="submit" class="ui green submit button">Sign Up</button>
              <button onclick="location.href='/auth/facebook'" class="ui facebook button">
              	<i class="facebook icon"></i>
              	Sign Up with Facebook
              </button> 
         
          </div>
        </form>

        </div>
      </div>


  		<script>
	    	function logpopup(){
		      	$('.login').modal('show');
		      	$('.ui.checkbox').checkbox();
		      	return false;
	      	};
	     	function signpopup(){
		      	$('.signup').modal('show');
		      	$('.ui.checkbox').checkbox();
		      	return false;
	      	};
	    </script>


