
<div class="nav-bar">

	<ul class="nav nav-pills">
		<div class="floatleft">
			<li role="presentation" class="active"><a href="/menus">Menus</a></li>
		</div>
		<% if(typeof user != 'undefined') {%>
		<div class="floatright">
			<li role="presentation"><a href="/profile/detail/<%= user._id %>"><%= user.username%></a></li>

			<li role="presentation"><a href="/logout">Logout</a></li>
		</div>
		<% } else { %>
		<div class="floatright">
		 	<li role="presentation"><a href="/login">Login</a></li>
			<li role="presentation"><a href="/register">Register</a></li>
		</div>
		<% } %>
		
	</ul>
</div>