
<div class="nav-bar" style="top:0;">
	<div class="ui horizontal link list" style="border-bottom: none; height:4rem; width:100%;">
		<a class="item side-btn" onclick="toggleSideBar()" style="margin-top:10px; border-style: none; height: 50px;"><i class="align justify icon" style="font-size:2em; margin-left:1em; "></i></a>
		<a class="item nav-btn left" href="/" style="border-style: none; height: 50px;">Savorlink</a>
		<button type="button" onclick="location.href='/menu/add'" class="ui blue button" id="list-menu-btn"
		style="float:right; margin-top:10px; margin-right:10px;">List Your Menu</button>
		<% if(typeof user != 'undefined') {%>
		<a class="item nav-btn right" href="/logout" style="border-style: none; height: 50px;">Logout</a>
		<a class="item nav-btn right" href="/notification" style="border-style: none; height: 50px;"><i class="alarm icon"></i></a>
		<a class="item nav-btn right" href="/profile/detail" style="border-style: none; height: 50px;"><img src="<%= user.portrait_path %>" class="ui circular mini image">    <%= user.firstname%></a>
		<% } else { %>
		<a class="item nav-btn right" onclick="signpopup();" style="border-style: none; height: 50px;">Sign Up</a>
		<a class="item nav-btn right" onclick="logpopup();" style="border-style: none; height: 50px;">Log In</a>
		<% } %>
	</div>
</div>

<div class="side-bar" style="z-index:100;">
	<div class="ui left vertical inverted labeled icon sidebar menu" id="sidebar">
	  <a class="item" href="/">
	    <i class="home icon"></i>
	    Home
	  </a>
	  <a class="item" href="/notification">
	    <i class="alarm outline icon"></i>
	    Notification
	  </a>
	  <a class="item" href="/profile/detail">
	    <i class="info circle icon"></i>
	    Profile
	  </a>
	  <a class="item" href="/profile/posts">
	    <i class="cocktail icon"></i>
	    Event Hosting
	  </a>
	  <a class="item" href="/request/history">
	    <i class="car icon"></i>
	    Event Attending
	  </a>
	  <a class="item" href="/review">
	    <i class="comment outline icon"></i>
	    Reviews
	  </a>
	  <a class="item" href="/profile/verify">
	    <i class="protect icon"></i>
	    Verification
	  </a>
	</div>
</div>
	    <div class="ui stackable grid">
	      <div class="ui small modal login">
	        <i class="close icon" style="z-index:101;"></i>
	        
	        <form class="ui form segment" enctype="multipart/form-data" method="post" action="/login" style="padding:20px 50px; margin-top:0px; margin-bottom:0px;">
	            <div class="ui grid">
	              
	               <div class="left floated five wide column"> 
	                  <h2>Log In</h2>
	                </div>
	                <div class="right floated right aligned eight wide column" style="padding-top:22px;"> 
	                  <h5><a href="#" >Forgot Password?</a></h5>
	                </div>
	         
	            </div>
		        <div class="field">
		          <label>Email</label>
		          <div class="ui left icon input">
		            <input type="text" placeholder="Email" name="email">
		            <i class="user icon"></i>
		          </div>
		        </div>
		        <div class="field">
		          <label>Password</label>
		          <div class="ui left icon input">
		            <input type="password" name="password">
		            <i class="lock icon"></i>
		          </div>
		        </div>
		        <div class="ui checkbox" style="padding-bottom:10px;">
		          <input type="checkbox" name="remember">
		          <label>Remember Me</label>
		        </div>
		        <div class="field">
		            <button type="submit" class="ui green submit button">Login</button>
		            <button type="button" class="ui facebook button" onclick="location.href='/auth/facebook'">
		              <i class="facebook icon"></i>
		              Login with Facebook
		            </button> 
		        </div>
	      </form>

	      <div class="actions">
	          <div class="ui positive right labeled">
	            Don't have an account?&nbsp&nbsp
	            <a href="#">Sign Up Here!</a>
	          </div>
	      </div>

	      </div>
	  </div>

	


	    <div class="ui stackable grid">
        <div class="ui small modal signup">
          <i class="close icon" style="z-index:101;"></i>
          
          <form class="ui form segment" enctype="multipart/form-data" method="post" action="/register" style="padding:20px 50px; margin-top:0px; margin-bottom:0px;">
              <div class="ui grid">           
                 <div class="left floated five wide column"> 
                    <h2>Sign Up</h2>
                  </div>
              </div>

          <div class="field">
            <label>Email</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Email" name="email">
              <i class="mail outline icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" name="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Confirm Password</label>
            <div class="ui left icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>

          <div class="field">
            <label>First Name</label>
            <div class="ui left icon input">
              <input type="text" name="firstname">
              <i class="user icon"></i>
            </div>
          </div>

          <div class="field">
            <label>Last Name</label>
            <div class="ui left icon input">
              <input type="text" name="lastname">
              <i class="user icon"></i>
            </div>
          </div>

          <div class="field" style="padding-top:20px;">
            
              <button type="submit" class="ui green submit button">Sign Up</button>
              <button type="button" onclick="location.href='/auth/facebook'" class="ui facebook button">
              	<i class="facebook icon"></i>
              	Sign Up with Facebook
              </button> 
         
          </div>
        </form>

        </div>
      </div>


  		<script>
	    	function logpopup(){
		      	$('.login').modal('show');
		      	$('.ui.checkbox').checkbox();
		      	return false;
	      	};
	     	function signpopup(){
		      	$('.signup').modal('show');
		      	$('.ui.checkbox').checkbox();
		      	return false;
	      	};
	      	function toggleSideBar(){
	      		$('#sidebar').sidebar('toggle');
	      	}
	    </script>


