<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<h1>Order Page</h1>
	<p>Welcome <%= user.fullname %></p>
	<h2>Title: <%= menu.title %></h2>
	<h4>Detail: <%= menu.detail %></h4>
	<h4>Date: <%= order.timestamp %></h4>
</body>