<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<h2>Posts</h2>
	<ul>
		<% posts.forEach(function(p) {%>
	  	<li>
	    	<p><%= p._id %></p>
	    	<form method="post">
	      		<input type="hidden" name="menuid" value=<%= p._id %>/>
	      		<input type="submit" value="Delete"/>
	    	</form>
	  	</li>
	  	<% }) %>
	</ul>
</body>