<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<h2>Posts</h2>
	<ul>
		<% posts.forEach(function(p) {%>
	  	<li>
	    	<a href="/menu/detail/<%= p._id %>"><%= p.title %></a>
	    	<form method="post">
	      		<input type="hidden" name="menuid" value=<%= p._id %>/>
	      		<input type="submit" value="Delete"/>
	      		<button type="button" onclick="location.href='/request/pending/<%= p._id %>'">View Requests</button>
	    	</form>
	  	</li>
	  	<% }) %>
	</ul>
</body>