<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
    <% include ../views/nav %>
    <div class="ui stackable grid main">
    	<div class="two wide column"></div>
		<!-- five wide colum -->
		<div class="twelve wide column" style="margin-top:80px;">
			<h1 class="ui block top attached header">Term&Privacy</h1>
			<div class="ui bottom attached secondary segment">
				<div id="infoinfront">
					<p>Which offers a community marketplace for Hosts and Guests to have Food Events together (as these terms are defined in the Terms of Use).SavorLink  connects Hosts who offer their hosting skills, food and home facilities to Guests seeking to participate in such food events. Each of  SavorLink  users, whether Hosts or Guests (“User” or “you”), is invited to use and enjoy SavorLink  in accordance with the Terms of Use. We respect the privacy of our Users and are committed to protect the Users' information. We believe that you have a right to know our practices regarding the information we may collect and use when you visit and use the Service. You consent (Please Read Carefully!)</p><br/><br/>
				</div>
				<div id="infoct">
					<h2>1. Which information we may collect on our Users?</h2>
					<p>We collect two types of data and information:</p>
					<h3>1.1  Non-personal Information</h3>
					<p>
						The first type is non-identifiable and anonymous information ("Non-personal Information"). To put it simply, we have no idea what is the identity of the User from which we have collected the Non-personal Information. Non-personal Information which is being gathered consists of technical information and behavioral information, as detailed below:<br/><br/>
						Technical Information:<br/><br/>
						<ul>
							<li>Type of operation system (e.g. Windows, Linux, etc.)</li>
							<li>Type of Browser (e.g. Explorer, Firefox, Chrome, Safari, etc.)</li>
							<li>Screen resolution (e.g. 800x600, 1024x768, etc.)</li>
							<li>Browser and keyboard language (e.g. English)</li>
							<li>IP address</li>
							<li>Flash version</li>
							<li>Computer’s configurations and settings and any similar technical data and information</li>
						</ul>
						Behavioral information:<br/><br/>
						<ul>
							<li>User's click stream on the Service (i.e. the fact that User has chosen to click on a certain link or access a certain feature on the Service)</li>
							<li>The activities of the User on the Service, including information pertaining to activities made by the User (e.g. which action was taken on the Service, last login date etc.)</li>
							<li>Any Similar behavioral information</li>
						</ul>
					</p>
					<h3>1.2  Personal Information</h3>
					<p>
						The other type of information is individually identifiable information ("Personal Information"). To put it simply, this information may identify an individual or is of a private and/or sensitive nature. Personal Information which is being gathered consists of any personal details provided voluntarily by the User or other Users to the Service.
					</p>
					<h4>1.2.1 Registration to the Service</h4>
					<p>
						The registration to our Service is done through the Website and/or third party account (e.g. Facebook), therefore during the registration we shall collect the information through the registration process (as described below) or we shall receive your Basic Information through 3rd party account.
					</p>
					<h4>1.2.2 Public Profile & Public Information</h4>
					<p>
						For each User we create a personal segment within the Service which is accessible by other Users. Upon your choice and indication, part of the information collected from you via the Service becomes public and accessible to other Users. We collect Personal Information on Users, Hosts and Guests such as: name, gender, birthdate, contact details including email address, country of residence, address, and phone number, and other information as your photo, languages spoken and favorite food. Please note that some of the information will be public only to some Users, as your Hosts or Guests, respectively. Additionally, we do not store any medical information about Users, such as food allergies. In the event you have any food allergies or other relevant medical information, make sure you notify to your Host in advance of such information within the Contact Form you fill-in upon your Reservation.
					</p>
					<h4>1.2.3 Information from third party account</h4>
					<p>
						 When you connect to the Service through third party (e.g. Facebook) for the first time you will be asked to permit the third party to share with the information about you. We collect information from third party only as you agreed to provide to such third party (such as your name, email address, profile picture, other information you make publicly available via the applicable third party and/or other information you authorize us to access by authorizing the third party to provide such information) subject to the privacy settings that you have set in such third party accounts. You understand that by granting us access to the third party accounts, we will access, make available and store (if applicable and as permitted by the third party and authorized by you) the information in your third party accounts so that it is available on and through your account on SavorLink.
					</p>
					<h4>1.2.4 Information from Hosts</h4>
					<p>
						 SavorLink will collect from individual Hosts Personal Information such as their real name, address, and contact details. Such information will not be disclosed to alSavorLink Users, rather only to the relevant Guests who placed a Reservation for Food Event with such Hosts.
					</p><br/>
				</div>

				<div id="host">
					<h2>2. How do we collect information on our Users?</h2>
					<p>There are two main methods we use:<br/>
						We collect information voluntary when you register to the Service as Guest or Host.
						We collect information while you access or use the Service. In other words, when you access or use the Site and Service we are aware of your usage of the Service, and may gather, collect and record the information relating to such usage. For example, when you connect to the Service, available on the Site, your computer tells us your IP address. We may further log the content you generate during your use of the Service.
						<br/><br/>
					</p>							
				</div>

				<div id="book">
					<h2>3. What are the purposes of the collection of information?</h2>
					<p>
						3.1 Non-personal Information is collected in order to:
						<ul>
							<li>Enhance the User's experience on the Service (e.g. by determining the screen resolutions).</li>
							<li>Learn about the preferences of Users and general trends on the Service (e.g. understand which features are more popular than others).</li>
						</ul>
						<br/>
						3.2 Personal Information is collected in order to:
						<ul>
							<li>Enable the overall operation of the Service.</li>
							<li>Personalize your experience on the Service.</li>
							<li>Provide you with certain information and services available only to registered Users.</li>
							<li>Allow us to contact you with proposals and tailored information regarding Food Events (as defined in the Terms of Service) and other events, offers, services, etc.</li>
						</ul>
					</p><br/><br/>
				</div>

				<div id="cancel">
					<h2>4. What are the purposes of the collection of information? </h2>
					<p>The Service allows you to share your third party accounts' profile information (e.g. Facebook) with other Users on **** such as your Host or Guests, respectively. Please note that certain information which you have defined as private on your third party account (e.g. information which is visible to Facebook friends only) may become public to other  ****  Users through the Service if you have defined such information to be public on the Service.
					</p><br/><br/>		
				</div>

				<div id="find">
					<h2>5. Sharing Personal Information with Third Parties </h2>
					<p>We may share Personal Information only in the following cases: (a) to satisfy any applicable law, regulation, legal process, subpoena or governmental request; (b) to enforce this Privacy Policy or the Terms of Service, including investigation of potential violations thereof; (c) to detect, prevent, or otherwise address fraud, security or technical issues; (d) to respond to claims that any content published on the Service violates any right of a third-party; (e) to respond to claims that unauthorized information (e.g. phone number, name, etc.) of a third-party has been posted on the Service; (f) to protect the rights, property, or personal safety of the Company, its Users or the general public; (g) when Company is undergoing any change in control, including by means of merger, acquisition or purchase of all or substantially all of the assets of Company; (h) pursuant to your approval, in order to supply certain services you have requested from Company; (i) to let our partners and affiliates serve you with commercials; or (j) to collect, hold and manage your Personal Information through a third party's cloud based services, as reasonable for business purposes, which may be located in countries outside of your jurisdiction, including but not limited to the United States of America.</p><br/><br/>
				</div>

				<div id="beforeevent">
					<h2>6. Direct Marketing</h2>
					<p>You hereby agree that we shall use your contact details for the purpose of informing you regarding Food Events, products and services (offered by the Company and/or by third parties) which may interest you and to send to you advertisements and other marketing material, transmitted to the e-mail address you have provided.<br/><br/>
					You may withdraw your consent via sending a written notice to the Company by email or on the same manner as the advertising was transmitted to you (e.g. via phone text message). It is clarified that we are not responsible for the content of said advertisements and the products delivered or services rendered thereby by third parties and you irrevocably and unconditionally agree that we shall not be held responsible or liable in connection thereof.
					</p><br/><br/>
				</div>

				<div id="pay">
					<h2>7. Modifications to or Deletion of Personal Information</h2>
					<p>
						If for any reason you wish to modify or delete your Personal Information, you may edit or delete your profile directly on ****  or you may access your third party account (e.g. Facebook account) and edit your profile there. Upon your request on****, Company shall remove your Personal Information from the Service reasonably after deleting your account on ****
					</p><br/><br/>
				</div>

				<div id="rew">
					<h2>8. Cookies & Local Storage</h2>
					<p>When you access or use the Service, Company may use industry-wide technologies such as "cookies" and Flash (or similar technologies), which stores certain information on your computer ("Local Storage") and which will allow us to enable automatic activation of certain features, and make your Service experience much more convenient and effortless. The cookies used by the Service are created per session, does not include any information about you, other than your session key and are removed as your session ends (usually after 24 hours). It is easy to prohibit the Local Storage. Most browsers will allow you to erase cookies from your computer's hard drive, block acceptance of cookies, or receive a warning before a cookie is stored. In order to erase or disable the Local Storage option in Flash you should use the settings option of Flash according to the specific instructions provided by the technology provider. However, if you block or erase cookies, or change the settings of Flash, your online experience may be limited.<br/><br/>

					We also use certain third-party cookies. These are a different kind of cookies, stored on your computer by third parties, rather than by the Company (for example see Section 7 regarding Advertisements). This kind of cookie is only read (and not altered by the Service) each time you visit the Service, and also when you visit certain websites or applications that uses similar cookies. Third-party cookies usually store only a Non-personal Information, such as the web pages you have visited, the duration of your browsing, etc.
					</p><br/><br/>
				</div>

				<div id="rew">
					<h2>9. Security</h2>
					<p>We take a great care in maintaining the security of the Service and your information and in preventing unauthorized access to it through industry standard technologies and internal procedures, including through the use of tokens and encryption mechanisms. However, we do not guarantee that unauthorized access will never occur.
					</p><br/><br/>
				</div>

				<div id="rew">
					<h2>10. Third Party Websites</h2>
					<p>While using the Service on the Website you may encounter links to third party websites. Please be advised that such third party websites are independent from the Service, and we assume no responsibility or liability whatsoever with regard to privacy matters or any other legal matter with respect to such third party websites. We encourage you to carefully read the privacy policies and the terms of use or service of such websites.
					</p><br/><br/>
				</div>

				<div id="rew">
					<h2>11. Third Party Software/Service</h2>
					<p>While using the Service we may be using third party software and/or services, in order to collect and/or process the information detailed herein and mainly for statistical purposes.
					</p><br/><br/>
				</div>

				<div id="rew">
					<h2>12. Changes to the Privacy Policy</h2>
					<p>The terms of this Privacy Policy will govern the use of the Service and any information collected therein. Company reserves the right to change this policy at any time, so please re-visit this page frequently. In case of any material change, we will make reasonable efforts to post a clear notice on the Service.<br/><br/>

					Changes to this Privacy Policy are effective as of the stated “Last Revised” and your continued use of the Service on or the Last Revised date will constitute acceptance of, and agreement to be bound by, those changes.
					</p><br/><br/>
				</div>
			</div>
		</div>
		<div class="two wide column" style="margin-top:80px;">
	</div>
	<!-- ui grid -->
</body>
</html>