<div class="ui vertical menu">
  <a class="active teal item">
    Personal Info
  </a>
  <a class="item">
    Event Hosting
  </a>
  <a class="item">
    Event Attending
  </a>
  <a class="item">
    Reviews
  </a>
  <a class="item">
    Verification
  </a>
</div>