extends layout

block content
	h2 Requests
	ul
		for req in requests
			li
				p #{req._id}
				form(method="post")
					input(type="hidden" name="reqid" value=req._id)
					input(type="submit" value="Delete")
