<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable page grid main">

		<!-- veritical menu -->
		<div class="four wide column">	
			<% include ../views/profile-vertical-menu %>
		</div>

		<div class="twelve wide column">
			<div class="section">

			<div class="ui secondary pointing menu">
				<a class="active item" id="aboutyou">
				Reviews About You
				</a>
				<a class="item" id="byyou">
				Reviews By You
				</a>
			</div>
			<div id="reviewAboutYou" style="display:block;">
				<h3 class="ui block top attached header">Past Reviews About You</h3>
				<div class="ui bottom attached secondary segment">
				<% reviewReceived.forEach(function(rr){%>
				<%= rr.text %>
				<% }) %>
				</div>
			</div>
			<div id="reviewByYou" style="display:none;">
				<h3 class="ui block top attached header">Past Reviews By You</h3>
				<div class="ui bottom attached secondary segment">
				<% reviewGiven.forEach(function(rg){%>
				<%= rg.text %>
				<% }) %>
				</div>
			</div>
		  </div>
	  	</div>
	</div>

	<script>
		var byyou =  document.getElementById("reviewByYou");
		var aboutyou = document.getElementById("reviewAboutYou");
		$("#aboutyou").click(function(){
			aboutyou.setAttribute("style","display:block;");
			byyou.setAttribute("style","display:none;");
			document.getElementById("aboutyou").setAttribute("class","active item");
			document.getElementById("byyou").setAttribute("class","item");
		})
		$("#byyou").click(function(){
			aboutyou.setAttribute("style","display:none;");
			byyou.setAttribute("style","display:block;");
			document.getElementById("aboutyou").setAttribute("class","item");
			document.getElementById("byyou").setAttribute("class","active item");
		})
	</script>
</body>