<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid main">

		<!-- veritical menu -->
		<div class="five wide column" id="vertical-menu">	
			<% include ../views/profile-vertical-menu %>
		</div>

		<div class="eleven wide column">
			<div class="section">

			<div class="ui secondary pointing menu">
				<a class="active item" id="byyou">
				Reviews By You
				</a>
				<a class="item" id="aboutyou">
				Reviews About You
				</a>
			</div>
			<div id="reviewAboutYou" style="display:none;">
				<h3 class="ui block top attached header">Past Reviews About You</h3>
				<div class="ui bottom attached secondary segment">
					<div class="ui comments">
						<% reviewReceived.forEach(function(rr){%>
						<div class="comment">
							<a class="avatar" >
								<img class="ui circular image" src="/image/sample-portrait.jpg" style="height:auto;">
							</a>
							<div class="content">
								<a class="author">Kelly</a>
								<div class="metadata">
									<span class="date">Today at 5:42PM</span>
								</div>
								<div class="text">
									<%= rr.text %>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
			<div id="reviewByYou" style="display:block;">
				<h3 class="ui block top attached header">Reviews to write</h3>
				<div class="ui bottom attached secondary segment">
				<form class="ui form" enctype="multipart/form-data" action="/review/add" method="post">
					<div class="field">
						<input name="receiverId" value="552d56ce8874fa1202fe55a6">
					</div>
					<div class="field">
						<label class="ui huge label" for="reviewText">Review Text</label>
						<textarea id="reviewText" name="text" placeholder="Write your review here."></textarea>
					</div>
					<div class="field">
						<label class="ui huge label" for="reviewText">Rating</label>
						<div class="ui huge star rating" data-rating="5" data-max-rating="5"></div>
						<input type="hidden" value="5" id="rating" name="rating">
					</div>
					<div class="field">
						<button class="ui button">Submit</button>
					</div>
				</form>
				</div>
				<h3 class="ui block top attached header">Past Reviews By You</h3>
				<div class="ui bottom attached secondary segment">
					<div class="ui comments">
						<% reviewGiven.forEach(function(rg){%>
						<div class="comment">
							<a class="avatar" >
								<img class="ui circular image" src="/image/sample-portrait.jpg" style="height:auto;">
							</a>
							<div class="content">
								<a class="author">Kelly</a>
								<div class="metadata">
									<span class="date">Today at 5:42PM</span>
								</div>
								<div class="text">
									<%= rg.text %>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
		  </div>
	  	</div>
	</div>

	<script>
		var byyou =  document.getElementById("reviewByYou");
		var aboutyou = document.getElementById("reviewAboutYou");
		$("#aboutyou").click(function(){
			aboutyou.setAttribute("style","display:block;");
			byyou.setAttribute("style","display:none;");
			document.getElementById("aboutyou").setAttribute("class","active item");
			document.getElementById("byyou").setAttribute("class","item");
		})
		$("#byyou").click(function(){
			aboutyou.setAttribute("style","display:none;");
			byyou.setAttribute("style","display:block;");
			document.getElementById("aboutyou").setAttribute("class","item");
			document.getElementById("byyou").setAttribute("class","active item");
		})
		$('.ui.rating')
			.rating().click(function(){
				var innerHtml = $('.ui.rating').html();
				var pos = innerHtml.indexOf("<i class=\"icon\"");
				switch(pos){
					case -1: $("#rating").attr("value","5");break;
					case 108: $("#rating").attr("value","4");break;
					case 81: $("#rating").attr("value","3");break;
					case 54: $("#rating").attr("value","2");break;
					case 27: $("#rating").attr("value","1");break;
					default: $("#rating").attr("value","5");
				}
			});
	</script>
</body>