<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<h2>Verification</h2>
	<div>
		<% if(user.edu_verified=="Verified") {%>
			<h4>Congratulation! You verified your edu email successfully!</h4>
		<%} else {%>
		<form method="post">
			<% if(typeof message !== 'undefined'){ %>
			<label><%= message.content %></label><br/>
			<% } %>
			<% if(user.edu_verified=="Pending"){ %>
			<label>The activation email has been sent to <%= user.edu_email %></label><br/>
			<% } %>
			<label for="eduemail">Edu Email Verification</label>
			<input id="eduemail" name="eduemail"/>
			<input type="submit" value="Verify"/>
		</form>
		<% } %>
	</div>
</body>