<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid main">

		<!-- veritical menu -->
		<div class="five wide column" id="vertical-menu">
			<% include ../views/profile-vertical-menu %>
		</div>

		<!-- verification details -->
		<div class="eleven wide column">
			<div class="section">
				<h3 class="ui block top attached header"><i class="mail icon"></i>Edu Email Verification</h3>
				<div class="ui bottom attached secondary segment">
					<% if(user.edu_verified=="Verified") {%>
						<h3 class="ui header">Congratulation! You verified your edu email successfully!</h3>
					<%} else {%>
					<form enctype="multipart/form-data" method="post">
						<% if(typeof message !== 'undefined'){ %>
						<label><%= message.content %></label><br/>
						<% } %>
						<% if(user.edu_verified=="Pending"){ %>
						<h3 class="ui header">The activation email has been sent to <%= user.edu_email %></h3><br/>
						<% } %>
						<p>Please enter your .edu email address:</p>
						<div class="ui input">
							<input id="eduemail" name="eduemail" placeholder="example@univ.edu"/>
						</div>
						<button class="ui button" type="submit">Verify Me!</button>
					</form>
					<% } %>
				</div>
				<h3 class="ui block top attached header"><i class="mail icon"></i>Facebook Verification</h3>
				<div class="ui bottom attached secondary segment">
					<% if(typeof user.facebook_id !== "undefined") {%>
						<h3 class="ui header">Congratulation! You could login with Facebook next time!</h3>
					<%} else {%>
					<button type="button" onclick="location.href='/auth/facebook'" class="ui facebook button">
					<i class="facebook icon"></i>
					Connect with Facebook
					</button>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>