body{
	overflow-x: hidden;
}

/*start of navigation bar*/
.nav-bar{
	border-bottom: 1px solid #ddd;
}

.floatleft{
	float:left;
}

.floatleft li{
	margin-left:30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.floatright{
	float: right;
	display: inline;
}

.floatright li{
	display: inline-block;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
    font-size: 20px;
}
/*end of navigation bar*/

/*style of university search form*/
#university-search{
	width: 180px;
}

.navbar-form{
	padding: 0px !important;
}
/*end of university search form*/

/*style for datepicker*/
.date-form { 
	margin: 10px; 
}

label.control-label span { 
	cursor: pointer; 
}

.input-group{
	width: 20%;
}

#date-picker{
	width:180px;
}

.control-group{
	margin-bottom:8px;
}
/*end of datepicker*/

/*button style*/
.btn{
	width:120px;
	padding: 5px 6px;
}
/*end of button style*/

/*google map*/
#map-canvas {
    height: 800px;
    background-color: #CCC;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 0px;

}
/*end of google map*/

/*preFilter*/
.preFilter{
	height:150px;
	border-bottom: 1px solid #ddd;
}
/*end of preFilter*/


/*menuList*/
.menuList{
	position: relative;
	overflow: scroll;
	height:650px;
	width: 660px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:scroll;
}

.menuList ul{
	display: inline-block;
	list-style-type: none;
}
/*end of menuList*/

/*list of menu*/
.list{
	height: 200px;
	border-bottom:1px solid #ddd;
}

#menuImg{
	width:250px;
	height: 200px;
	padding: 5px;
}
/*end list of menu*/


/*search form*/
#search-form{
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#search-form .form-group{
	float: left;
	display: inline-block;
}

#search-form .datePicker{
	float: left;
	display: inline-block;
}

#search-form .guestNumber{
	float: left;
	display: inline-block;
}

#search-form .foodType{
	float: left;
	display: inline-block;
	padding-right: 20px;
}

#front-page{
	border-bottom: 1px solid #ddd;
}
