body{
	overflow-x: hidden;
	margin:0px;
}

#bg_container{ height:400px; overflow:hidden; z-index: 0;}


video#bg {
position: absolute; 
right: 0; 
bottom: 0;
top: -60;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background-size: cover;
}


/*start of navigation bar*/
.nav-bar{
	border-bottom: 1px solid #ddd;
}

.floatleft{
	float:left;
}

.floatleft li{
	margin-left:30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.floatright{
	float: right;
	display: inline;
}

.floatright li{
	display: inline-block;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
    font-size: 20px;
}
/*end of navigation bar*/

/*style of university search form*/
#university-search{
	width: 180px;
}

.navbar-form{
	padding: 0px !important;
}
/*end of university search form*/

/*style for datepicker*/
.date-form { 
	margin: 10px; 
}

label.control-label span { 
	cursor: pointer; 
}

.input-group{
	width: 40%;
}

#date-picker{
	width:180px;
}

.control-group{
	margin-bottom:8px;
}
/*end of datepicker*/

/*button style*/
.btn{
	width:150px;
	padding: 5px 6px;
}

#btn-fbsignup{
	width:180px;
}
/*end of button style*/

/*google map*/
#map-canvas {
    height: 800px;
    background-color: #CCC;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 0px;

}
/*end of google map*/

/*preFilter*/
.preFilter{
	height:150px;
	border-bottom: 1px solid #ddd;
}
/*end of preFilter*/


/*menuList*/
.menuList{
	position: relative;
	overflow: scroll;
	height:650px;
	width: 660px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:scroll;
}

.menuList ul{
	display: inline-block;
	list-style-type: none;
}
/*end of menuList*/

/*list of menu*/
.list{
	height: 200px;
	border-bottom:1px solid #ddd;
}

#menuImg{
	width:250px;
	height: 200px;
	padding: 5px;
}
/*end list of menu*/


/*search form*/
#search-form{
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    z-index: 100;
}

#search-form .form-group{
	float: left;
	display: inline-block;
}

#search-form .datePicker{
	float: left;
	display: inline-block;
}

#search-form .guestNumber{
	float: left;
	display: inline-block;
}

#search-form .foodType{
	float: left;
	display: inline-block;
	padding-right: 20px;
}

.navbar-form{
	margin-top: 28px !important;
}

#front-page{
	border-bottom: 1px solid #ddd;
	height:600px;
}


#second-page{
	border-bottom: 1px solid #ddd;
	height:610px;
}

#third-page{
	border-bottom: 1px solid #ddd;
	height:610px;
}

#footer{
	clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
    background-color: black;
    color:white;
    text-align: center;
}

/*sidebar in profile*/
#sidebar {
  height: 250px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*profile detail*/
#head-photo{
	height: 100px;
	width: 100px;
	display: inline-block;
}


/*add menu*/
.add-menu{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.addmenu-form-horizontal{
	padding: 20px 300px;
	width: 100%;
}

.addmenu-controls input{
	width: 300px;
}












